{% paginate blog.articles by settings.pagination_limit %}

<div id="blog">

{% comment %}  <div class="row title">
    <div class="span12">
      <h1>{{ blog.title }}</h1>
    </div>
  </div> {% endcomment %}

  <!-- title off -->

  <!-- Begin content -->
  <div class="row">
    <div class="span9 articles">
      {% for article in blog.articles %}
      <div class="article">
        <h1>
          <a href="{{ article.url }}">{{ article.title }}</a>
          <span class="date" style="display: block;">
            {{ article.published_at | date: format: 'long' }}
            {% if article.comments_enabled? and article.comments_count > 0 %}
            <small>
              <a href="{{ article.url }}#comments">{{ 'blog.comments.comments_with_count' | t: count: article.comments_count }}</a>
            </small>
            {% endif %}
          </span>
        </h1>

        <!-- Adding featured image here -->

        <img src="{{ article | img_url: 'medium' }}" class="article_image" alt="{{ article.image.alt }}" >

        {{ article.excerpt_or_content }}

      </div>
      <hr class="divider" />
      {% endfor %}
    </div>

    <!-- Begin sidebar -->
    {% include 'blog-sidebar' %}
    <!-- End sidebar -->

  </div>
  <!-- End content -->

</div>

{% include 'pagination' %}
{% endpaginate %}